LIBK_OBJS=\
$(LIBC_SRC)/string/strlen.o \
$(LIBC_SRC)/string/strrev.o \
$(LIBC_SRC)/string/memmove.o \
$(LIBC_SRC)/string/memset.o \
$(LIBC_SRC)/string/memcpy.o \
$(LIBC_SRC)/string/memcmp.o \
$(LIBC_SRC)/stdio/printf.o \
$(LIBC_SRC)/stdio/puts.o \
$(LIBC_SRC)/stdio/putchar.o \
$(LIBC_SRC)/stdlib/abort.o \
