K_ARCH_OBJS=\
$(KERNEL_SRC)/$(ARCH_DIR)/boot.o \
$(KERNEL_SRC)/$(ARCH_DIR)/tty.o \
$(KERNEL_SRC)/$(ARCH_DIR)/cpu.o \
$(KERNEL_SRC)/$(ARCH_DIR)/paging.o \
$(KERNEL_SRC)/$(ARCH_DIR)/multiboot.o \
$(KERNEL_SRC)/$(ARCH_DIR)/gdt.o \
$(KERNEL_SRC)/$(ARCH_DIR)/idt.o \
$(KERNEL_SRC)/$(ARCH_DIR)/interrupts.o \
$(KERNEL_SRC)/$(ARCH_DIR)/isr.o \
$(KERNEL_SRC)/$(ARCH_DIR)/debug.o \
$(KERNEL_SRC)/$(ARCH_DIR)/serial.o \
$(KERNEL_SRC)/$(ARCH_DIR)/kbd.o \
